/*body{font-family:"Myriad Pro","Segoe UI",Helvetica, Arial, sans-serif;}*/
/* **************** CONTENT OBJECTS ***************** */

/* ====== Elements ====== */
/*img{display:block;}*/
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 5px solid #e2e2e2; border-width: 0 0 5px 0; margin: 20px 10px 10px 10px;}
code{color:#000;}
/* links */
a {color: #000; text-decoration: none;}
a:focus, a:hover {text-decoration: underline;}
a:focus{background-color:#000;}
a:visited { color:#000; }
/* ====== Lists ======*/
/* numbered list */
ol.simpleList li{list-style-type: decimal; margin-left:40px;}
/* standard list */
ul.simpleList li{list-style-type:disc; margin-left:40px;}
/* ====== blockquote ====== */
cite{display:block; text-align:right; padding-top: 10px;}